# Ogre Core Resources
[OgreInternal]
FileSystem=../dependencies/Papagayo-Engine/Engine/dependencies/Ogre/Media/ShadowVolume
FileSystem=../dependencies/Papagayo-Engine/Engine/dependencies/Ogre/Media/RTShaderLib/GLSL
FileSystem=../dependencies/Papagayo-Engine/Engine/dependencies/Ogre/Media/RTShaderLib/HLSL_Cg
FileSystem=../dependencies/Papagayo-Engine/Engine/dependencies/Ogre/Media/Terrain/

# Resources required by the sample browser and most samples.
[Essential]
FileSystem=../../dependencies/Papagayo-Engine/Engine/dependencies/Ogre/Samples/Media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[General]
FileSystem=../dependencies/Papagayo-Engine/dependencies/Ogre/src/Samples/Media/packs
FileSystem=../dependencies/Papagayo-Engine/dependencies/Ogre/Samples/Media/fonts
FileSystem=../dependencies/Papagayo-Engine/dependencies/Ogre/Samples/Media/materials/programs
FileSystem=./Assets
FileSystem=../../dependencies/Papagayo-Engine/Engine/dependencies/Ogre/src/Samples/Media/materials/textures
